# Visualize taksometrs versus ormanis

In this notebook, we will compare two different types of transportation: taksometrs and ormanis. We will visualize the differences in their usage and characteristics using a line plot.

## Idea

Main idea is to show trends in the usage of taksometrs and ormanis over time. We will use a line plot to visualize the data, with the x-axis representing time and the y-axis representing the number of taksometrs and ormanis used.

We will use document frequency to show the trends in usage. Document frequency is a measure of how often a term appears in a set of documents. In this case, we will use document frequency to show how often taksometrs and ormanis are mentioned in the text.

To represent different number of documents in each year we will create relative frequencies. Relative frequency is a measure of how often a term appears in a set of documents, relative to the total number of documents. In this case, we will use relative frequency to show how often taksometrs and ormanis are mentioned in the text, relative to the total number of documents.

### Related terms

Our taksomets and ormanis counts will include some related terms such as fūrmanis and važonis for ormanis and taksītis, taksitis for taksometrs. We will also include some other related terms such as taksometra and ormaņa.

### Possible gotchas

We have to be careful not to include in our document frequency terms when used in a different non transportation context.

For example "taksītis" could refer not only to a taxi but also to a type of dog. We will have to filter out these cases.
Anda has done manual labeling of suspected false positives. We will use this data to filter out the false positives.

## Loading Libraries and showing hardware used

In [1]:
# Show Python version
import sys
print(f"Python version: {sys.version}")
from datetime import datetime
print(f"Run date: {datetime.now()}")
from pathlib import Path
import os

# Get the project root by going one level up from the current notebook directory
project_root = Path().resolve().parent
print(f"Project root: {project_root}")
# what computer are we on?
import socket
print(f"Computer name: {socket.gethostname()}")
# CPU architecture
import platform
print(f"CPU architecture: {platform.machine()}")
# CPU type
print(f"CPU type {platform.processor()}")
# CPU count
print(f"CPU count: {os.cpu_count()}")
# let's import wmi to get the CPU name
try:
    import wmi
    c = wmi.WMI()
    for cpu in c.Win32_Processor():
        print(f"CPU name: {cpu.Name}")
except ImportError:
    print("wmi not installed")
    print("Please install wmi with 'pip install WMI'")

# OS name and version
print(f"OS name: {platform.system()}")
print(f"OS version: {platform.version()}")
# memory and disk space
import psutil
print(f"Memory: {psutil.virtual_memory().total / (1024 ** 3):.2f} GB : free - {psutil.virtual_memory().available / (1024 ** 3):.2f} GB")
print(f"Swap memory: {psutil.swap_memory().total / (1024 ** 3):.2f} GB : free - {psutil.swap_memory().free / (1024 ** 3):.2f} GB")
print(f"Disk space: {psutil.disk_usage('/').total / (1024 ** 3):.2f} GB : free - {psutil.disk_usage('/').free / (1024 ** 3):.2f} GB")

# try importing the libraries we need
print("EXTERNAL libraries")

try:
    from tqdm import tqdm
    from tqdm import __version__ as tqdm_version
    print(f"tqdm version: {tqdm_version}")
except ImportError:
    print("tqdm not installed")
    print("Please install tqdm with 'pip install tqdm'")

#Pandas
try:
    import pandas as pd
    from pandas import __version__ as pandas_version
    print(f"Pandas version: {pandas_version}")
except ImportError:
    print("Pandas not installed")
    print("""Please install pandas with 'pip install "pandas[excel,parquet]"'""")

# now plotly
try:
    from plotly import express as px
    from plotly import graph_objects as go
    from plotly import __version__ as plotly_version
    print(f"Plotly version: {plotly_version}")
except ImportError:
    print("Plotly not installed")
    print("Please install plotly with 'pip install plotly'")

Python version: 3.12.6 (tags/v3.12.6:a4a2d2b, Sep  6 2024, 20:11:23) [MSC v.1940 64 bit (AMD64)]
Run date: 2025-05-22 12:39:09.952323
Project root: C:\Users\vsaules\Github\lnb_transports
Computer name: 11P00694
CPU architecture: AMD64
CPU type Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
CPU count: 8
CPU name: Intel(R) Xeon(R) CPU E3-1245 v3 @ 3.40GHz
OS name: Windows
OS version: 10.0.19045
Memory: 31.80 GB : free - 22.43 GB
Swap memory: 4.75 GB : free - 4.65 GB
Disk space: 222.96 GB : free - 56.60 GB
EXTERNAL libraries
tqdm version: 4.66.2
Pandas version: 2.2.1
Plotly version: 5.19.0

## Loading Full Dataset

In [2]:
src = Path("../../not_repo/latsenrom_2025_05_09.parquet")

# assert src.exists()
assert src.is_file(), f"File not found: {src}"
# loading
print(f"Loading from {src}")
df = pd.read_parquet(src)
# check the dataframe
# shape
print(f"df.shape: {df.shape}")
# head
df.head()

Loading from ..\..\not_repo\latsenrom_2025_05_09.parquet
df.shape: (37605476, 17)

,deprel,form,index,lemma,parent,pos,tag,ufeats,upos,sent_ndx,author,title,dom_id,file_stem,file_stem_short,firstEdition,term
0,nmod,Mīlas,1,mīla,2.0,ncfsg_,ncfsg4,Case=Gen|Gender=Fem|Number=Sing,NOUN,0,AizsV,MilaU,1049452,AizsV_MilaU_1049452,AizsV_MilaU,1933,mīla
1,nmod,ārprāta,2,ārprāts,3.0,ncmsg_,ncmsg1,Case=Gen|Gender=Masc|Number=Sing,NOUN,0,AizsV,MilaU,1049452,AizsV_MilaU_1049452,AizsV_MilaU,1933,ārprāts
2,obl,varā,3,vara,6.0,ncfsl_,ncfsl4,Case=Loc|Gender=Fem|Number=Sing,NOUN,0,AizsV,MilaU,1049452,AizsV_MilaU_1049452,AizsV_MilaU,1933,vara
3,nmod,ROMĀNS,4,Romāns,6.0,npmsn_,npmsn1,Case=Nom|Gender=Masc|Number=Sing,PROPN,0,AizsV,MilaU,1049452,AizsV_MilaU_1049452,AizsV_MilaU,1933,Romāns
4,punct,„,5,"""",6.0,zq,zq,_,PUNCT,0,AizsV,MilaU,1049452,AizsV_MilaU_1049452,AizsV_MilaU,1933,""""

### Extracting ormanis

In [3]:
ormanis_lemmas = ("ormanis","fūrmanis", "važonis")
# let's filter the dataframe for the lemmas
ormanis_df = df[df["lemma"].isin(ormanis_lemmas)]
# shape
print(f"ormanis_df.shape: {ormanis_df.shape}")
# head
ormanis_df.head()

ormanis_df.shape: (1478, 17)

,deprel,form,index,lemma,parent,pos,tag,ufeats,upos,sent_ndx,author,title,dom_id,file_stem,file_stem_short,firstEdition,term
39464,iobj,ormanim,3,ormanis,2.0,ncmsd_,ncmsd2,Case=Dat|Gender=Masc|Number=Sing,NOUN,14,AkurJ,DegoS,771400,AkurJ_DegoS_771400,AkurJ_DegoS,1912,ormanis
73314,obj,ormani,9,ormanis,7.0,ncmsa_,ncmsa2,Case=Acc|Gender=Masc|Number=Sing,NOUN,556,AkurJ,PeteD,886346,AkurJ_PeteD_886346,AkurJ_PeteD,1921,ormanis
304692,nsubj,važoņi,23,važonis,20.0,ncmpn_,ncmpn2,Case=Nom|Gender=Masc|Number=Plur,NOUN,555,ArdeE,ApLie,1051730,ArdeE_ApLie_1051730,ArdeE_ApLie,1926,ormanis
308387,nsubj:pass,ormaņi,10,ormanis,6.0,ncmpn_,ncmpn2,Case=Nom|Gender=Masc|Number=Plur,NOUN,777,ArdeE,ApLie,1051730,ArdeE_ApLie_1051730,ArdeE_ApLie,1926,ormanis
357535,obl,ormaņa,13,ormanis,9.0,ncmsg_,ncmsg2,Case=Gen|Gender=Masc|Number=Sing,NOUN,317,ArdeE,SvetA,1046832,ArdeE_SvetA_1046832,ArdeE_SvetA,1924,ormanis

In [4]:
# let's see value counts for the lemma
ormanis_df["lemma"].value_counts()

lemma
ormanis     971
važonis     390
fūrmanis    117
Name: count, dtype: int64

### Saving ormanis

In [5]:
# let's save ormanis in our parquet directly which is a sibling directory to our notebook
# ormanis_df.to_parquet("../parquet/ormanis.parquet", index=False)

### Extracting taksometrs

For this our task will be harder as we also have to consider true positives

In [16]:
# first let's load the xlsx file that Anda provided with true positives for taksis and taksītis
# note that taksometrs / taksometris / taksomotors are always true positives as those terms are always related to taxis
true_taxi_df = pd.read_excel("../xlsx/Taxi-docF-redig.xlsx", sheet_name="True positives")
# shape
print(f"true_taxi_df.shape: {true_taxi_df.shape}")
# head
true_taxi_df.head()

true_taxi_df.shape: (231, 4)

     Aut  NoslT  Gads   Forma
0  Andra  Elita  1930   taksī
1  Andra  Elita  1930   taksī
2  Andra  Elita  1930  taksis
3  Andra  Elita  1930   taksī
4  Anoni  KaptT  1926  taksim

In [17]:
# let's create a file_stem_short column for the true_taxi_df
# this will be concatanation of Autors and Nosaukums using _ as separator
true_taxi_df["file_stem"] = true_taxi_df["Aut"] + "_" + true_taxi_df["NoslT"]
# rename the column to file_stem_short
true_taxi_df.rename(columns={"file_stem": "file_stem_short"}, inplace=True)
# head
true_taxi_df.head()

     Aut  NoslT  Gads   Forma file_stem_short
0  Andra  Elita  1930   taksī     Andra_Elita
1  Andra  Elita  1930   taksī     Andra_Elita
2  Andra  Elita  1930  taksis     Andra_Elita
3  Andra  Elita  1930   taksī     Andra_Elita
4  Anoni  KaptT  1926  taksim     Anoni_KaptT

In [18]:
# how many unique file_stem_short values do we have?
print(f"true_taxi_df.file_stem_short.nunique(): {true_taxi_df.file_stem_short.nunique()}")
# get these unique values as a set
true_taxi_set = set(true_taxi_df.file_stem_short)
# length of the set
print(f"len(true_taxi_set): {len(true_taxi_set)}")

true_taxi_df.file_stem_short.nunique(): 83
len(true_taxi_set): 83

In [19]:
sure_taxi_terms = ("taksometrs",  " taksometris",  "taksomotors")
# first let's get the sure taxi terms if they are exactly in lemma column
taxi_df = df[df["lemma"].isin(sure_taxi_terms)]
# shape
print(f"taxi_df.shape: {taxi_df.shape}")
# head
taxi_df.head()

taxi_df.shape: (111, 17)

,deprel,form,index,lemma,parent,pos,tag,ufeats,upos,sent_ndx,author,title,dom_id,file_stem,file_stem_short,firstEdition,term
482494,None,taksometri,9,taksometrs,NaN,ncmpn_,ncmpn1,None,None,131,Arnis,AndrS,948028,Arnis_AndrS_948028,Arnis_AndrS,1928,taksometrs
488046,None,taksomotoru,14,taksomotors,NaN,ncmsa_,ncmsa1,None,None,697,Arnis,AndrS,948028,Arnis_AndrS_948028,Arnis_AndrS,1928,taksomotors
598018,conj,taksometros,13,taksometrs,11.0,ncmpl_,ncmpl1,Case=Loc|Gender=Masc|Number=Plur,NOUN,432,Arnis,TaurK,1051711,Arnis_TaurK_1051711,Arnis_TaurK,1933,taksometrs
617771,nmod,taksometru,9,taksometrs,10.0,ncmpg_,ncmpg1,Case=Gen|Gender=Masc|Number=Plur,NOUN,685,Arnis,TaurK,1051711,Arnis_TaurK_1051711,Arnis_TaurK,1933,taksometrs
1402411,nmod,Taksometra,1,taksometrs,2.0,ncmsg_,ncmsg1,Case=Gen|Gender=Masc|Number=Sing,NOUN,784,BaloP,UzleS,1025418,BaloP_UzleS_1025418,BaloP_UzleS,1929,taksometrs

In [20]:
unsure_taxi_terms = ("taksis", "taksītis")
# for these we also have to check if the file_stem_short is in the true_taxi_set
# we already have a file_stem_short column in the dataframe
extra_taxi_df = df[df["lemma"].isin(unsure_taxi_terms)]
# shape before filtering for true_taxi_set
print(f"extra_taxi_df.shape: {extra_taxi_df.shape}")
# let's filter the dataframe for the true_taxi_set
extra_taxi_df = extra_taxi_df[extra_taxi_df["file_stem_short"].isin(true_taxi_set)]
# shape after filtering for true_taxi_set
print(f"extra_taxi_df.shape: {extra_taxi_df.shape}")
# head 15
extra_taxi_df.head(15)

extra_taxi_df.shape: (181, 17)
extra_taxi_df.shape: (113, 17)

,deprel,form,index,lemma,parent,pos,tag,ufeats,upos,sent_ndx,author,title,dom_id,file_stem,file_stem_short,firstEdition,term
202074,obl,taksī,25,taksis,26.0,ncmsl_,ncmsl2,Case=Loc|Gender=Masc|Number=Sing,NOUN,912,Andra,Elita,1053573,Andra_Elita_1053573,Andra_Elita,1930,taksometrs
205569,obl,taksī,13,taksis,12.0,ncmsl_,ncmsl2,Case=Loc|Gender=Masc|Number=Sing,NOUN,1257,Andra,Elita,1053573,Andra_Elita_1053573,Andra_Elita,1930,taksometrs
220176,nsubj,taksis,5,taksis,6.0,ncmsn_,ncmsn2,Case=Nom|Gender=Masc|Number=Sing,NOUN,845,Andra,Elita,1053573,Andra_Elita_1053573,Andra_Elita,1930,taksometrs
247803,obl,taksī,4,taksis,5.0,ncmsl_,ncmsl2,Case=Loc|Gender=Masc|Number=Sing,NOUN,255,Andra,Elita,1053573,Andra_Elita_1053573,Andra_Elita,1930,taksometrs
382236,iobj,taksīti,3,taksītis,1.0,ncmsa_,ncmsa2,Case=Acc|Gender=Masc|Number=Sing,NOUN,1537,ArdsL,TrijV,1053572,ArdsL_TrijV_1053572,ArdsL_TrijV,1933,taksometrs
390401,obl,taksīšos,4,taksītis,6.0,ncmpl_,ncmpl2,Case=Loc|Gender=Masc|Number=Plur,NOUN,416,ArdsL,TrijV,1053572,ArdsL_TrijV_1053572,ArdsL_TrijV,1933,taksometrs
390418,iobj,taksīšiem,21,taksītis,24.0,ncmpd_,ncmpd2,Case=Dat|Gender=Masc|Number=Plur,NOUN,416,ArdsL,TrijV,1053572,ArdsL_TrijV_1053572,ArdsL_TrijV,1933,taksometrs
661359,None,taksīši,2,taksītis,NaN,ncmpn_,ncmpn2,None,None,428,Artis,ArNai,1053600,Artis_ArNai_1053600,Artis_ArNai,1940,taksometrs
729830,None,taksīšiem,5,taksītis,NaN,ncmpd_,ncmpd2,None,None,543,Artis,ArNai,1053600,Artis_ArNai_1053600,Artis_ArNai,1940,taksometrs
729857,None,taksīti,26,taksītis,NaN,ncmsa_,ncmsa2,None,None,544,Artis,ArNai,1053600,Artis_ArNai_1053600,Artis_ArNai,1940,taksometrs
1924487,None,taksītis,4,taksītis,NaN,ncmsn_,ncmsn2,None,None,4,BorkR,JaunL,1047341,BorkR_JaunL_1047341,BorkR_JaunL,1936,taksometrs
2215078,None,taksi,3,taksis,NaN,ncmsa_,ncmsa2,None,None,234,BremH,BaltM,1049458,BremH_BaltM_1049458,BremH_BaltM,1935,taksometrs
5440672,None,taksis,6,taksis,NaN,ncmsn_,ncmsn2,None,None,648,DzilA,VirsD,1051786,DzilA_VirsD_1051786,DzilA_VirsD,1939,taksis
5742425,None,taksi,29,taksis,NaN,ncmsa_,ncmsa2,None,None,830,EgliA,LigaM,419430,EgliA_LigaM_419430,EgliA_LigaM,1940,taksometrs
6710508,None,taksī,25,taksis,NaN,ncmsl_,ncmsl2,None,None,442,ErssA,AgloD,1046834,ErssA_AgloD_1046834,ErssA_AgloD,1927,taksometrs

In [21]:
# something is not quite right we should have hit more than 12 terms
# let's check how many unique file_stem_short values we have we have in original dataframe and how
unique_file_stem_short = set(df.file_stem_short.unique())
# length of the set
print(f"len(unique_file_stem_short): {len(unique_file_stem_short)}")
# let's assert that all sure_taxi_terms are in unique_file_stem_short
if not true_taxi_set <= unique_file_stem_short:
    print(f"Not all sure_taxi_terms are in unique_file_stem_short: {true_taxi_set} <= {unique_file_stem_short}")
    # which ones are missing
    missing_terms = true_taxi_set - unique_file_stem_short
    print(f"Missing terms: {missing_terms}")
else:
    print(f"All sure_taxi_terms are in unique_file_stem_short: {true_taxi_set} <= {unique_file_stem_short}")

len(unique_file_stem_short): 463
All sure_taxi_terms are in unique_file_stem_short: {'LapiK_StudF', 'BremH_BaltM', 'NiedAi_SarkV', 'EgliA_LigaM', 'LapiK_CekaG', 'LankA_Inzen', 'BaloP_UzleS', 'ZamaL_DireK', 'CukuH_StarZ', 'SkujF_SidrS', 'PeteM_DzivS', 'ZariE_PapaZ', 'GulbA_DruvU', 'LaciV_AkmeC', 'PrusE_TaleV', 'VindG_NaveI', 'JaunJ_NeskS', 'PaulM_MilaA', 'PaulM_SirdP', 'UpitA_SmaiL', 'BaltJ_KadNa', 'SukuO_MilaA', 'BaltV_LielU', 'LapiK_AtplL', 'SpriJ_SaloL', 'UpitA_JanaR', 'Andra_Elita', 'VeseJ_CilvS', 'GingJ_NoslT', 'TormJ_Lasti', 'LapiK_DodaU', 'PaulM_VecaB', 'SukuO_Oglra', 'GulbA_JaunV', 'MiltK_Peter', 'JaunJ_Kapri', 'SpriJ_ManGr', 'SterF_MezkP', 'JureJ_DzivV', 'BankJ_DivaD', 'JaunJ_JaunU', 'Arnis_AndrS', 'Artis_ArNai', 'SkalK_SirdK', 'Arnis_TaurK', 'LapiK_Pagri', 'ZiemV_MilaF', 'ZeltT_RigaG', 'PerlL_LudiD', 'RoziE_BezTe', 'PaulM_ProfS', 'GregV_LatvK', 'MiltK_Mazur', 'SartJ_FabrM', 'LaciV_PutnB', 'LesiVi_LiktR', 'UpitA_PaVar', 'ZibeV_LielI', 'ArdsL_TrijV', 'MoorH_Rauls', 'ZariK_Vaini', 'NiedAi_CilvA', 'LapiK_NemiU', 'PavlA_CeloP', 'VeseJ_DienK', 'GulbA_FantM', 'GrigA_CilvD', 'UpitA_MasaG', 'ZariK_PelnV', 'ZiemV_MilaU', 'ErssA_AgloD', 'ZiemV_SievA', 'KukuJ_Laimi', 'BorkR_JaunL', 'MiltK_Regin', 'Anoni_KaptT', 'ZariK_SpigP', 'CelmV_TuksG', 'PaulM_DejoN', 'RoziP_Cepli', 'VecoJ_DansT', 'DzilK_Dauga', 'DzilA_VirsD'} <= {'ErssA_Muizn', 'LapiK_ManaD', 'PuraJ_SavsK', 'EldgH_SudrS', 'MezsA_BaltK', 'GulbA_Fanta', 'KarkV_KaraK', 'AkurJ_PeteD', 'GrinA_PeleJ', 'LapiK_CekaG', 'FimbK_MelnB', 'LapsA_JaunM', 'RutkT_MukuB', 'JannK_DzivM', 'SkujF_SidrS', 'LapiJ_JaniP', 'ZariE_PapaZ', 'KurmA_ParVi', 'FimbK_KadNa', 'DeglA_VecaP', 'JaunJ_NeskS', 'PuraJ_JaunS', 'FimbK_PecPu', 'PaulM_MilaA', 'BreiL_Maldu', 'SpanV_BaltB', 'BeikD_MezaG', 'SverE_GrekK', 'SukuO_MilaA', 'BaltV_LielU', 'UpitA_JanaR', 'MezsA_SavaL', 'PrusE_KuniK', 'VeseJ_EngeU', 'TormJ_Lasti', 'JekaK_MuizM', 'UpitA_ZemNa', 'KarkV_MopaD', 'JansJ_Banda', 'JatnG_TevPi', 'PuraJ_PasaL', 'SudrE_MaitP', 'MiesJ_BerzG', 'PaegL_KursM', 'LaivA_SaulU', 'EgliV_Lidzv', 'UpitA_Reneg', 'IeviK_CinaA', 'RutkT_BendM', 'PlauJ_Iesle', 'LaciV_AtbrZ', 'SpriJ_ManGr', 'SterF_MezkP', 'PaulM_UzDzi', 'KarlE_InvaA', 'FimbK_KlanL', 'RungA_SataB', 'ErssA_ZemeB', 'NiedAi_Sieva', 'Arnis_AndrS', 'PoruJ_Riga', 'MateJ_PatrU', 'ZariK_DzivU', 'NiedAn_Siksp', 'JuskJ_ZobeP', 'SukuO_FengU', 'KlotA_SievU', 'RoziE_BezTe', 'Vilib_KasUz', 'GulbA_Zigf', 'GulbA_PecSi', 'GulbA_Zigfr', 'NiedAi_Salna', 'Zeltm_Likte', 'VeseJ_TiruL', 'UpitA_Pludi', 'RutkT_SumpC', 'ZariK_Vaini', 'BrauH_ValmK', 'GrinJ_DzivZ', 'VecoJ_Dzidr', 'PaulM_SalaD', 'VeseJ_DienK', 'NiedAi_PieAz', 'UpitA_MasaG', 'SudrE_PirmV', 'Zeltm_GrekI', 'NiedAn_KadMe', 'GulbA_OlgeS', 'BorkR_JaunL', 'TissP_StreP', 'EldgH_ZvaiN', 'AkurJ_DegoS', 'EideR_Ielen', 'LapiK_TajoT', 'DizeB_DzelB', 'Zemza_TumsE', 'KleiR_UzDru', 'PaulM_DejoN', 'FimbK_TiltP', 'IeviK_SievM', 'ZiemV_ZemBe', 'SartJ_Pagar', 'RutkT_Gambi', 'SpanV_AveMa', 'FimbK_PeleZ', 'KuncV_SpieF', 'LapiK_RevoM', 'BremH_BaltM', 'PeteR_VaroC', 'LeitA_TrimA', 'SartJ_Zieda', 'PuraJ_LeisS', 'BuciR_SadrD', 'VetrM_DivDu', 'EgliA_LigaM', 'GrinA_MezaB', 'SpilK_MeznS', 'UpitA_ZiemV', 'UpitA_PirmN', 'ZamaL_DireK', 'RutkT_DumpR', 'JaunJ_NaveD', 'BaloP_MaksU', 'TalmE_SapnU', 'GulbA_DruvU', 'GrinA_KrusG', 'LeitA_TaigS', 'KlauR_PaTum', 'PrusE_TaleV', 'CiliK_SkaiA', 'VindG_NaveI', 'Valdi_JuriB', 'LesiVi_Uzvar', 'AustA_Puisk', 'GrinJ_SmaiD', 'PaulM_SirdP', 'StraK_Kars', 'LapiK_NemiP', 'ZvirJ_AizmV', 'ArdeE_ApLie', 'VeldV_DeliU', 'MezsA_ApbuP', 'EgliV_DomaR', 'LapiK_DodaU', 'ZeibJ_Likte', 'JansJ_LaimB', 'IeviK_LatvZ', 'JekaK_NikoI', 'ErssA_SatiU', 'MurnJ_PersU', 'ZeibJ_BaroB', 'SukuO_Oglra', 'OssJa_JuraM', 'PrusE_PumpR', 'JansJ_MezvL', 'PlauJ_Zieme', 'MednE_SkepU', 'JaunJ_Atbal', 'JaunJ_Kapri', 'JekaK_BrilK', 'SvabA_Vards', 'OssJa_JuriM', 'UpitA_JaunA', 'JaunJ_JaunU', 'OzolA_VirpD', 'KaijI_Sfink', 'SartJ_KrusD', 'VecoJ_ViktI', 'Zemza_MantA', 'KaijI_Dzint', 'RoziP_ValmP', 'PaulM_VienV', 'Artis_ArNai', 'VeldV_Dizmu', 'DruvA_KlusE', 'SartJ_Ruki', 'ZiemV_MilaF', 'Arnis_MilaL', 'RukiH_KaraD', 'LemaI_CietR', 'JaunJ_Aija', 'Elita_SestB', 'ZeltT_RigaG', 'ErssA_MileV', 'JansJ_CeliU', 'PilsJ_PravG', 'UpitA_Sievi', 'JansP_Latsv', 'PaulM_ProfS', 'LaciV_CeloU', 'SartJ_FabrM', 'MednV_TevuZ', 'ErglR_PeleB', 'PaulM_PasaG', 'UpitA_PaVar', 'GrinA_NameG', 'JaunJ_BaltG', 'ZibeV_LielI', 'LesiVi_LiktR', 'MoorH_Rauls', 'LaciV_PiecP', 'DzilA_RazeA', 'JureJ_JuraK', 'NiedAi_CilvA', 'MateJ_SadzV', 'GrigA_CilvD', 'Zemza_KrusU', 'ZariK_PelnV', 'JansJ_Ligav', 'SaleE_JautR', 'ZiemV_MilaU', 'LaciV_CilvM', 'LaicL_KlieK', 'IeviK_PieTe', 'CeplA_Nolie', 'BergS_ZiemP', 'ValdR_DeviV', 'VeseJ_DievG', 'BerzM_GirtT', 'KalnJ_ArPas', 'LaciV_PasaJ', 'SpriJ_NaveL', 'BrigA_SkarV', 'LiciP_LidaE', 'IeviK_GuntU', 'CimzA_LiesA', 'LapiK_StudF', 'ErglR_Viest', 'ErglR_VirsM', 'KleiR_MiroB', 'Elita_BezGi', 'RumaP_KadaZ', 'VeseL_StarS', 'LaciV_SencA', 'ZiedZ_VasaU', 'VanaA_DekaP', 'KaijI_Juga', 'BaloP_UzleS', 'RozeL_StipK', 'CukuH_StarZ', 'Tirzm_ZemDz', 'PeteM_DzivS', 'VentA_DepuT', 'FimbK_ReinG', 'BrigA_DievD', 'PaulM_PieLi', 'DeglA_LabaF', 'RoziP_DivaS', 'BaltJ_KadNa', 'UpitA_SmaiL', 'NiedAi_PiekB', 'VirzE_Strau', 'AustA_GaraJ', 'KurcA_Cukga', 'BankJ_GrafK', 'KociE_Darzn', 'SpriJ_SaloL', 'Andra_Elita', 'LesiVi_Satan', 'VeseJ_CilvS', 'GingJ_NoslT', 'TalrM_Baris', 'NiedAi_RuzuK', 'SkujF_MilaU', 'LaviV_PulaE', 'DeglA_Patri', 'EgliV_SkolK', 'BrigA_AkmeS', 'GrinA_DvesP', 'RutkT_LatvU', 'KaijI_IedzG', 'DruvA_MuzaM', 'JureJ_Zemga', 'UpitA_ZidaT', 'DeglA_Liesm', 'PielE_SievM', 'KunsJ_DarbA', 'IeviK_MezrM', 'SausA_EmilD', 'SartJ_Vieno', 'SterE_AndrZ', 'CiliK_SkaiC', 'JureJ_DzivV', 'SartJ_MezaM', 'BirkA_Pedag', 'LaciV_ZvejD', 'RutkT_KlibS', 'PrusE_Itali', 'ZamaL_KokaD', 'ZariK_Kaugu', 'DekeA_MezaL', 'UpitA_PerkP', 'EgliV_RitaB', 'GrevV_NamsR', 'LapiK_Pagri', 'JaunJ_Ursul', 'PaulM_Elks', 'SkujF_UzTam', 'SudrE_Dumbr', 'GrinA_SarkJ', 'Anoni_SarkM', 'Anoni_BandK', 'DzilA_GaisL', 'RutkT_AklaV', 'LaciV_ZemeU', 'AustA_KaspG', 'CeplA_Zeme1', 'LaciV_PulaE', 'BranV_KaujN', 'NiedJ_UzDau', 'KaudM_Izjur', 'DeglA_Zelte', 'LapiK_NemiU', 'PavlA_CeloP', 'RoziP_ZemeP', 'KurcA_DzivV', 'ZiemV_SievA', 'LapiK_Sabru', 'ValdR_JuraV', 'MellK_VectS', 'RudzE_CaurE', 'MednV_RigaT', 'LaciV_VecaJ', 'JansJ_Dzim', 'KabeV_DzelD', 'SartJ_Mara', 'CelmV_TuksG', 'IeviK_JaunC', 'KaudR_MernL', 'UpitA_LaikG', 'KrumJ_Mila', 'VecoJ_DansT', 'KalnM_Zieme', 'LiepM_DzivV', 'DzilK_Dauga', 'DzilA_VirsD', 'Zeltm_MileA', 'SartJ_ZalaS', 'JekaK_KrisU', 'ZariK_BralD', 'NiedAi_AnnaD', 'GrinA_AtdzC', 'NiedAi_CiemS', 'EgliV_NenoL', 'Elita_MilaZ', 'NiedAi_SarkV', 'AizsV_MilaU', 'UpitA_PedeL', 'KlotA_KadSi', 'SartJ_KurSt', 'NiedAi_Vinde', 'DievR_GodsU', 'LankA_Inzen', 'IeviK_PutrD', 'ErglR_Seli', 'GulbA_Gaidi', 'Elita_SadeD', 'SukuO_KalnE', 'TukuV_KaraD', 'LaciV_AkmeC', 'UpitA_Zelts', 'JaunJ_VejaZ', 'PaulM_TrauB', 'DeglA_JaunP', 'AkurJ_UgunZ', 'JekaK_HeinR', 'NiedAn_LiduD', 'LaciV_RotaV', 'CeplA_MaliV', 'NiedJ_Vikin', 'LapiK_AtplL', 'VeseJ_SaulK', 'DinsE_ViriK', 'ZandO_Ruda', 'ArdeE_SvetA', 'MezsE_DzivC', 'LapsJ_DamuP', 'MurnJ_NaveG', 'BankJ_TrisZ', 'PaulM_VecaB', 'DubuJ_SmilS', 'RutkT_MuksB', 'LaciJ_MuzaM', 'GiruJ_EkspZ', 'KalnI_AktrR', 'BaloP_DaugU', 'JekaK_Nikol', 'JannK_Ideal', 'OssJa_ZeltD', 'GulbA_JaunV', 'MiltK_Peter', 'KaudM_JaunM', 'RoziP_UgunC', 'LigoJ_ReinL', 'SartJ_DruvS', 'LapiK_RepuG', 'BankJ_DivaD', 'LaicL_Limit', 'RungA_LielM', 'ZamaL_CigaU', 'Kauka_IndrJ', 'PaulM_Likte', 'BrigA_KvelL', 'GrinA_Tobag', 'RihtO_MeziS', 'IeviK_DvesR', 'ErssA_KrusC', 'DzilK_JaniR', 'SkalK_SirdK', 'SkujR_ZvaiB', 'Arnis_TaurK', 'CeplA_Kalpi', 'PlauJ_Gimna', 'DzilK_GarlM', 'PerlL_LudiD', 'VeseJ_TrisL', 'JaunJ_Ziema', 'EgliV_DvesV', 'DeglA_StarD', 'KelpJ_TeviA', 'GregV_LatvK', 'FimbK_SaulK', 'MiltK_Mazur', 'PaegL_Izpos', 'GruzP_Bursa', 'VecoJ_LaiNa', 'KleiR_Erika', 'ValnH_Zero', 'LaciV_PutnB', 'EgliV_TiltU', 'LaicL_Emigr', 'ArdsL_TrijV', 'BaltJ_VaidM', 'ErssA_SkirC', 'JansJ_LaukU', 'DambV_GaitC', 'PoruJ_PerlZ', 'NiedAi_Uguni', 'PipiB_LejaM', 'GulbA_FantM', 'DekeA_KaisA', 'GrinA_MelnJ', 'GrinA_TrisV', 'SkujF_ZeltR', 'ErssA_AgloD', 'UpitA_VecaE', 'KukuJ_Laimi', 'MiltK_Regin', 'JaunJ_Augsz', 'ZariK_SpigP', 'Anoni_KaptT', 'JekaK_SievG', 'SkujF_ZemSa', 'ZeibJ_UdenB', 'TiruA_ParDz', 'RoziP_Cepli', 'ZaliA_Dauga', 'SvabA_Darbs', 'ZariK_DarzM', 'LesiVa_SlimD', 'NiedAi_GrekA', 'VeseL_BrivK'}

In [22]:
# let's check autor PavlA in df
unique_autors = set(df.author.unique())
assert "PavlA" in unique_autors, f"PavlA not in unique_autors: {unique_autors}"
# check SkujF
assert "SkujF" in unique_autors, f"SkujF not in unique_autors: {unique_autors}"
# check if we have any duplicates in the dataframe

In [ ]:
# # TODO check titles for PavlA and SkujF since they are present in our big dataframe
# # unique works for PavlA
# pavla_df = df[df["author"] == "PavlA"]
# # shape
# print(f"pavla_df.shape: {pavla_df.shape}")
# # print unique titles
# pavla_titles = set(pavla_df.title.unique())
# print(f"pavla_titles: {pavla_titles}")

pavla_df.shape: (103135, 17)
pavla_titles: {'CeloP'}

In [ ]:
# now let's check SkujF
skujf_df = df[df["author"] == "SkujF"]
# shape
print(f"skujf_df.shape: {skujf_df.shape}")
# print unique titles
skujf_titles = set(skujf_df.title.unique())
print(f"skujf_titles: {skujf_titles}")

skujf_df.shape: (470843, 17)
skujf_titles: {'UzTam', 'ZeltR', 'MilaU', 'SidrS', 'ZemSa'}